databases.yaml

celery_workers.yaml

.env
.venv

maintenance.flag

core/client/public/maintenance.json
core/client/dist/maintenance.json

env/
venv/

*.log
__pycache__/

# Cursor IDE debug logs
.cursor/debug*.log

/virtual_env/celery/*
!/virtual_env/celery/.gitkeep

/virtual_env/python/*
!/virtual_env/python/.gitkeep

/virtual_env/nodejs/*
!/virtual_env/nodejs/.gitkeep

/virtual_env/packages/*
!/virtual_env/packages/.gitkeep

/virtual_env/trained_models/*
!/virtual_env/trained_models/.gitkeep

/virtual_env/resources/*
!/virtual_env/resources/.gitkeep

/virtual_env/static_api/*
!/virtual_env/static_api/.gitkeep

/virtual_env/cache/*
!/virtual_env/cache/.gitkeep

/logs/*
!/logs/.gitkeep

/media/*
!/media/.gitkeep

/node_modules

/notebooks/*
!/notebooks/.gitkeep
!/notebooks/example_analytics.ipynb

/core/deployment/wrappers/*
!/core/deployment/wrappers/.gitkeep

/menu-order-config.json