# Репозитории ядра системы

[submodule "core/api"]
	path = core/api
	url = https://github.com/SKB-AI/ergo_ms_core_api.git
	branch = dev
	update = merge
	ignore = all

[submodule "core/client"]
	path = core/client
	url = https://github.com/SKB-AI/ergo_ms_core_client.git
	branch = dev
	update = merge
	ignore = all

[submodule "core/media_api"]
	path = core/media_api
	url = https://github.com/SKB-AI/ergo_ms_core_media_api.git
	branch = dev
	update = merge
	ignore = all

[submodule "core/django"]
	path = core/django
	url = https://github.com/SKB-AI/ergo_ms_core_django.git
	branch = dev
	update = merge
	ignore = all

[submodule "core/django_rest_framework"]
	path = core/django_rest_framework
	url = https://github.com/SKB-AI/ergo_ms_django_rest_framework
	branch = dev
	update = merge
	ignore = all

# Репозитории сторонних модулей

[submodule "assets_analysis"]
	path = modules/assets_analysis
	url = https://github.com/SKB-AI/ergo_ms_assets_analysis.git
	branch = dev
	update = merge
	ignore = all

[submodule "crm"]
	path = modules/crm
	url = https://github.com/SKB-AI/ergo_ms_crm.git
	branch = dev
	update = merge
	ignore = all

[submodule "education_expert_system"]
	path = modules/education_expert_system
	url = https://github.com/SKB-AI/ergo_ms_education_expert_system.git
	branch = dev
	update = merge
	ignore = all

[submodule "lms"]
	path = modules/lms
	url = https://github.com/SKB-AI/ergo_ms_lms.git
	branch = dev
	update = merge
	ignore = all

[submodule "porosity_analysis"]
	path = modules/porosity_analysis
	url = https://github.com/SKB-AI/ergo_ms_porosity_analysis.git
	branch = dev
	update = merge
	ignore = all

[submodule "impuls_analysis"]
	path = modules/impuls_analysis
	url = https://github.com/SKB-AI/ergo_ms_impuls_analysis.git
	branch = dev
	update = merge
	ignore = all

[submodule "video_analysis"]
	path = modules/video_analysis
	url = https://github.com/SKB-AI/ergo_ms_video_analysis.git
	branch = dev
	update = merge
	ignore = all

[submodule "cities_expansion"]
	path = modules/cities_expansion
	url = https://github.com/SKB-AI/ergo_ms_cities_expansion.git
	branch = dev
	update = merge
	ignore = all

[submodule "learning_analytics"]
	path = modules/learning_analytics
	url = https://github.com/SKB-AI/ergo_ms_learning_analytics.git
	branch = dev
	update = merge
	ignore = all

[submodule "university_project_activities"]
	path = modules/project_ed
	url = https://github.com/SKB-AI/ergo_ms_university_project_activities.git
	branch = dev
	update = merge
	ignore = all

[submodule "vacancies_parser"]
	path = modules/vacancies_parser
	url = https://github.com/SKB-AI/ergo_ms_vacancies_parser.git
	branch = dev
	update = merge
	ignore = all	
	
[submodule "education_materials_parser"]
	path = modules/education_materials_parser
	url = https://github.com/SKB-AI/ergo_ms_education_materials_parser.git
	branch = dev
	update = merge
	ignore = all

[submodule "version_management"]
	path = modules/version_management
	url = https://github.com/SKB-AI/ergo_ms_version_management.git
	branch = dev
	update = merge
	ignore = all

[submodule "modules/organizations"]
	path = modules/organizations
	url = https://github.com/SKB-AI/ergo_ms_organizations.git
	branch = dev
	update = merge
	ignore = all

[submodule "modules/crm_remastered"]
	path = modules/crm_remastered
	url = https://github.com/SKB-AI/crm_remastered.git
	branch = dev
	update = merge
	ignore = all

[submodule "modules/students"]
	path = modules/students
	url = https://github.com/SKB-AI/ergo_ms_students.git
	branch = dev
	update = merge
	ignore = all

[submodule "modules/workers"]
	path = modules/workers
	url = https://github.com/SKB-AI/ergo_ms_workers.git
	branch = dev
	update = merge
	ignore = all

[submodule "modules/competence_core"]
	path = modules/competence_core
	url = https://github.com/Wyaro/ergo_ms_competence_core
	branch = dev
	update = merge
	ignore = all

[submodule "modules/projects"]
	path = modules/projects
	url = https://github.com/SKB-AI/ergo_ms_projects.git
	branch = dev
	update = merge
	ignore = all
	
[submodule "modules/tasks"]
	path = modules/tasks
	url = https://github.com/SKB-AI/ergo_ms_tasks.git
	branch = dev
	update = merge
	ignore = all

[submodule "modules/technical_process_analysis"]
	path = modules/technical_process_analysis
	url = https://github.com/SKB-AI/ergo_ms_technical_process_analysis.git
	branch = dev
	update = merge
	ignore = all