databases.yaml

.env
.venv

env/
venv/

*.log
__pycache__/

/virtual_env/celery/*
!/virtual_env/celery/.gitkeep

/virtual_env/python/*
!/virtual_env/python/.gitkeep

/virtual_env/nodejs/*
!/virtual_env/nodejs/.gitkeep

/virtual_env/packages/*
!/virtual_env/packages/.gitkeep

/virtual_env/trained_models/*
!/virtual_env/trained_models/.gitkeep

/virtual_env/resources/*
!/virtual_env/resources/.gitkeep

/logs/*
!/logs/.gitkeep

/media/*
!/media/.gitkeep

/node_modules